body{
    font-family: 'Poppins', sans-serif;
font-family: 'Redressed', cursive;
    margin: 5%;
    background-color:whitesmoke;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.link-button{
    font-size: 20px;
    text-decoration: none;
    padding: 10px   30px;
    font-weight: 400;
    background-image: linear-gradient(orangered,red);
    color: white;
    border-radius: 5px;
}
.half-width img{
    width: 80%;
    margin-left: 10%;
}
.stay-focus{
    display: flex;
    margin: 0;
}
#mission{
    text-align: center;
}
.one-third{
    width: 33%;
    background-color:rgb(223, 235, 235);
    padding: 20px   20px;
    border-radius: 15px;
}
.my-mission{
    display: flex;
}
.one-third  img{
    width: 25%;
    display: flex;
}
.second-part{
    display: flex;
}
.third-part{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 300px;
    display: flex;
    width: 100%;
    margin-right: 5%;
    margin-top: 10%;
}
.fourth-part{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 200px;
    display: flex;
    width: 100%;
    margin-right: 5%;
    margin-top: 10%;
}
.footer{
    background-color:black;
    color: white;
    text-align: center;
    margin-top: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footer span{
    color: orangered;
}
#mission    span{
    color: orangered;
}
.bonus-part input{
    font-size: 20px;
    text-decoration: none;
    padding: 5px   15px;
    font-weight: 400;
    background-image: linear-gradient(red,orangered);
    color: white;
    border-radius: 5px;
}
.head{
    border-left: 5px solid;
    border-image: linear-gradient(orangered,red);
    border-image-slice: 1;
}
#Mission{
    background-color:rgb(241, 236, 190);
    margin-right: 5%;
}
#goal{
    background-color:lightgray;
}
#vission{
    background-color: rgb(235, 203, 208);
    margin-right: 5%;
}